.navbar {
  padding-top: 0.2rem; /* Adjust the top padding */
  padding-bottom: 0.2rem; /* Adjust the bottom padding */
  height: 50%;
/*  background-color: #375a7f;   Set background color */
  background-color: #2b9194;  /* Set background color */
}

.code-block {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
}

.sourceCode {
  font-family: monospace;
  font-size: 14px;
}

.home-page #quarto-search {
  display: none;
}

@media (max-width: 768px) {
  body, main, section, article, .content, .about, .about-entity, .about-contents, .about-body {
    text-align: left !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    align-items: start !important;
    justify-content: start !important;
  }

  .about-contents {
    display: block !important;
  }

  .about-entity {
    text-align: left !important;
  }
}

/* Add this to your styles.css file */

.annotated {
  border-bottom: 1px dashed rgba(var(--bs-body-color-rgb), 0.5); /* A semi-transparent dashed line that adapts to light/dark mode */
  cursor: help; /* Changes the cursor to a question mark on hover, indicating help/info is available */
  text-decoration: none; /* Removes any default underline that might interfere */
  transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out; /* Smooth transition on hover */
}

.annotated:hover {
  border-bottom-color: rgba(var(--bs-body-color-rgb), 0.8); /* Makes the line more solid on hover */
}